<div class="card">
  <div class="card-body">
    <h3 class="fw-bold">Booking information</h3>
    <form [formGroup]="bookingForm">
      <div class="row mb-3">
        <div class="col-6">
          <label for="info_from" class="form-label">Destination from*</label>
          <input
            class="form-control"
            id="info_from"
            placeholder="Destination from..."
            formControlName="from"
          />
        </div>
        <div class="col-6">
          <label for="info_to" class="form-label">Destination to*</label>
          <input
            class="form-control"
            id="info_to"
            placeholder="Destination to..."
            formControlName="to"
          />
        </div>
        <div class="col-6">
          <label for="info_weight" class="form-label"
            >Weight in kilograms*</label
          >
          <input
            type="number"
            class="form-control"
            id="info_weight"
            placeholder="Weight of the Package..."
            formControlName="weight"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="info_height" class="form-label">Height in metres*</label>
          <input
            type="number"
            class="form-control"
            id="info_height"
            formControlName="height"
            placeholder="Height of the Package"
          />
        </div>
        <div class="col-6">
          <label class="form-label">Length in metres*</label>
          <input
            class="form-control"
            type="number"
            placeholder="Length of the Package"
            formControlName="length"
          />
        </div>
        <div class="col-6">
          <label class="form-label">Width in metres*</label>
          <input
            class="form-control"
            type="number"
            placeholder="Width of the Package"
            formControlName="width"
          />
        </div>
      </div>
      <div class="text-end">
        <button
          [disabled]="bookingForm.invalid"
          class="btn btn-primary"
          type="button"
          (click)="submitBookingInformation()"
        >
          Get offers
        </button>
      </div>
    </form>
    <h3 class="fw-bold">Offers</h3>
    <div class="row mb-3">
      <div class="col-4">
        <span class="fw-bold">Customer offers</span>
      </div>
      <div class="col-4"></div>
      <div class="col-4">
        <span class="fw-bold">Selected offer</span>
      </div>
    </div>
    <div *ngFor="let offer of offers$ | async">
      <app-offer [offer]="offer"></app-offer>
    </div>
    <div class="text-end">
      <a
        class="btn btn-primary"
        [ngClass]="{ disabled: !selectedOffer }"
        (click)="!selectedOffer && $event.preventDefault()"
        routerLink="/booking-confirmation"
      >
        Proceed
      </a>
    </div>
  </div>
</div>
