<div class="card">
  <div class="card-body">
    <div class="d-flex">
      <div>
        <h2>Booking confirmation</h2>
        <ul class="list-unstyled">
          <li><span class="fw-bold">Destination from</span>: Kapstaden</li>
          <li><span class="fw-bold">Destination to</span>: Dat</li>
          <li><span class="fw-bold">Weight</span>: 0,5kg</li>
          <li><span class="fw-bold">Selected offer</span>: Fastest!</li>
        </ul>
      </div>
      <div class="ms-auto text-end">
        <img
          class="booking-logo img-thumbnail"
          src="/assets/east-indian-trading-co.png"
          alt=""
        />
        <p>We care about the environment</p>
      </div>
    </div>
    <div>
      <h2>Customer information</h2>
      <div class="has-validation">
        <label class="form-label"> Registration number </label>
        <input class="form-control" value="14814833" />
      </div>
      <div class="row">
        <div class="col-6">
          <label> Name </label>
          <input class="form-control" value="Netcompany" disabled />
        </div>
        <div class="col-6">
          <label> City </label>
          <input class="form-control" value="Kairo" disabled />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <label> Zip code </label>
          <input class="form-control" value="11566" disabled />
        </div>
        <div class="col-6">
          <label> Email </label>
          <input class="form-control" value="nc@netcompnay.eg" disabled />
        </div>
      </div>
      <div class="text-end">
        <a class="btn btn-success text-white" routerLink="/invoice"> Book </a>
      </div>
    </div>
  </div>
</div>
