<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h2>East Indian Trade C/O</h2>
                <p>London, WC2H 7HL</p>
                <p>+44 1632 960170</p>
                <p>nc@eastindia.org</p>
            </div>
            <div class="col-6 text-end mb-3">
                <app-company-logo></app-company-logo>
            </div>
            <div class="ms-auto col-6">
                <table class="table table-borderless text-center">
                    <thead>
                        <tr>
                            <th>Customer Id</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1234</td>
                            <td>{{today | date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>Bill to</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Netcompany</td>
                        </tr>
                        <tr>
                            <td>Kairo, 11566</td>
                        </tr>
                        <tr>
                            <td>nc@netcompnay.eg</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <table class="table table-borderless text-center">
                    <thead>
                        <tr>
                            <th>Terms</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Due upon receipt</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <table class="table">
            <tbody class="foot-borderless">
                <tr>
                    <td colspan="3" class="prices">TOTAL</td>
                    <td class="bg-info text-end">1,575.00$</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
